
    <div class="section black">
        <div class="w-container">
            <div class="title">
                <h1>3 guys changing time tracking</h1>
                <div class="subtitle">What started as a dorm room project exploded into an internet sensation!</div>
            </div>
            <div class="w-row">
                <div class="w-col w-col-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.
                    </p>
                    <p>
                        Amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
                        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                        Aenean faucibus nibh et justo cursus.
                    </p>
                </div>
                <div class="w-col w-col-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.
                    </p>
                    <p>
                        Ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
                        imperdiet. Nunc ut sem vitae risus tristique posuere.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section about-image"></div>
    <div class="section darkgrey">
        <div class="w-container">
            <div class="title">
                <h2>The origins</h2>
            </div>
            <div class="questions-row w-row">
                <div class="w-col w-col-6">
                    <div class="question">Where it started</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.
                    </p>
                    <div class="question">Attracting users</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. 
                    </p>
                    <div class="question">Hiring the 2 guys</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p>
                    <div class="question">Time to take over the world</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. 
                    </p>
                </div>
                <div class="w-col w-col-6">
                    <div class="question">Why time tracking</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor.
                    </p>
                    <div class="question">Getting investment</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p>
                    <div class="question">It&#x27;s party time</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.
                    </p>
                    <div class="question">To Mars and beyond</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. 
                    </p>
                </div>
            </div>
        </div>
    </div>
