
    <div class="section black">
        <div class="w-container">
            <h1>Our Pricing is simple</h1>
            <div class="subtitle">No commitments. No credit cards required. Start your 14-day trial today!</div>
            <div class="w-row">
                <div class="w-col w-col-4">
                    <div class="pricing-column">
                        <h3 class="plan-title">solo</h3>
                        <div class="price">$10</div>
                        <div class="per-month">PER MONTH</div>
                        <div class="price-feature-list">
                            <div class="price-feature">1 Project</div>
                            <div class="price-feature">100 Hours of Tracked Time</div>
                            <div class="price-feature deactivate">No Team Collaborators</div>
                            <div class="price-feature">Email Support</div>
                        </div><a asp-controller="SignUp" asp-action="Index" class="get-started-link pricing">Get Started now   ❯</a>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="pricing-column">
                        <h3 class="plan-title pro">pro</h3>
                        <div class="price">$20</div>
                        <div class="per-month">PER MONTH</div>
                        <div class="price-feature-list">
                            <div class="price-feature">10 Projects</div>
                            <div class="price-feature">Unlimited Hours</div>
                            <div class="price-feature deactivate">No Team Collaborators</div>
                            <div class="price-feature">Email Support</div>
                        </div><a asp-controller="SignUp" asp-action="Index" class="get-started-link pricing">Get Started now   ❯</a>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="pricing-column">
                        <h3 class="plan-title">team</h3>
                        <div class="price">$30</div>
                        <div class="per-month">PER MONTH</div>
                        <div class="price-feature-list">
                            <div class="price-feature">Unlimited Projects</div>
                            <div class="price-feature">Unlimited Hours</div>
                            <div class="price-feature">5 Team Collaborators</div>
                            <div class="price-feature">Priority Email Support</div>
                        </div><a asp-controller="SignUp" asp-action="Index" class="get-started-link pricing">Get Started now   ❯</a>
                    </div>
                </div>
            </div>
            <p class="support">Need Help? Reach us at contact@terminal.com</p>
        </div>
    </div>
    <div class="section darkgrey">
        <div class="w-container">
            <div class="title">
                <h2>Frequently asked questions</h2>
            </div>
            <div class="questions-row w-row">
                <div class="w-col w-col-6">
                    <div class="question">What is Terminal? </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.
                    </p>
                    <div class="question">Are there any discounts?</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. 
                    </p>
                    <div class="question">Does it work on iPhones?</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p>
                    <div class="question">How can I reach you?</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. 
                    </p>
                </div>
                <div class="w-col w-col-6">
                    <div class="question">Who is it for?</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor.
                    </p>
                    <div class="question">How can I reach you?</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p>
                    <div class="question">Do you have international support?</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.
                    </p>
                    <div class="question">What is Terminal? </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. 
                    </p>
                </div>
            </div>
            <div class="need-help-row w-clearfix">
                <h3 class="more-questions">Have more questions?</h3>
                <h3 class="contact-text">Reach us at contact@terminal.com or 1-800-555-1234</h3>
            </div>
        </div>
    </div>
