
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
         role="banner" class="navbar w-nav">
        <div class="w-container">
            <a href="/" class="brand-wrapper w-nav-brand">
                <div class="logo-text">terminal</div>
            </a>
            <nav role="navigation" class="nav-menu w-clearfix w-nav-menu">
                <a href="/" class="nav-link w-nav-link">HOME</a>
                <a href="/pricing" class="nav-link w-nav-link">pricing</a>
                <a href="/services" aria-current="page" class="nav-link w-nav-link w--current">services</a>
                <a href="/about" class="nav-link w-nav-link">About</a>
                <a href="/contact" class="nav-link w-nav-link">Contact</a>
                <a asp-controller="SignUp" asp-action="Index" class="nav-link right w-nav-link">SIGN UP</a>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="section black">
        <div class="w-container">
            <div class="title">
                <h1>OUR SERVICES</h1>
                <div class="subtitle">What started as a dorm room project exploded into an internet sensation!</div>
            </div>
            <div class="w-row">
                <div class="w-col w-col-4">
                    <div class="service-block">
                        <h1 class="number">1.</h1>
                        <h3 class="service-title">Time tracking</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique. 
                        </p>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="service-block">
                        <h1 class="number">2.</h1>
                        <h3 class="service-title">cloud hosting</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique. 
                        </p>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="service-block">
                        <h1 class="number">3.</h1>
                        <h3 class="service-title">booking</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section darkgrey">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-8">
                    <h2>Time Tracking</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p><a asp-controller="SignUp" asp-action="Index" class="get-started-link">Get started now   ❯ </a>
                </div>
                <div class="center w-col w-col-4">
                    <img src="images/all-devices.png"
                         srcset="images/all-devices-p-500x288.png 500w, images/all-devices.png 1131w"
                         sizes="(max-width: 479px) 64vw, (max-width: 767px) 46vw, (max-width: 991px) 229.328125px, 299.984375px"
                         alt="" class="all-devices-image" />
                </div>
            </div>
        </div>
    </div>
    <div class="section darkestgrey">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-6">
                    <ul role="list" class="feature-list no-padding w-list-unstyled">
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_55.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Record your work.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis.</div>
                        </li>
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_51.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Play it back.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis, diam.</div>
                        </li>
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_53.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Pause at any moment.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis.</div>
                        </li>
                    </ul>
                </div>
                <div class="w-col w-col-6">
                    <h2>Cloud Hosting</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section darkgrey">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-6">
                    <h2>Booking</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare.
                    </p>
                </div>
                <div class="w-col w-col-6">
                    <ul role="list" class="feature-list no-padding w-list-unstyled">
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_25.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Track your time on your phone.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis.</div>
                        </li>
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_03.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Create and edit all your projects.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis, diam.</div>
                        </li>
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_08.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Send it and get paid.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="no-pad-section">
        <div class="w-row">
            <div class="padded-column picture w-col w-col-6"></div>
            <div class="padded-column w-col w-col-6">
                <div class="width-limiter">
                    <h2>Also: Rockin&#x27; Support</h2>
                    <p>
                        Our support is pretty cool. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                        varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
                        interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id
                        rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                    </p>
                </div><a href="/contact" class="get-started-link simple">get support now</a>
            </div>
        </div>
    </div>
