
<div class="section hero">
    <div class="w-container">
        <h1 class="small-heading">Time tracking IS NOW</h1>
        <h1 class="huge-heading">beautiful &amp; POWERFUL</h1>
        <p class="subtitle">Terminal is a time tracking web app and iPhone app that will change your life. </p>
        <a asp-controller="SignUp" asp-action="Index" class="button">GET STARTED NOW</a>
        <a href="#learn-more" class="outline-button">LEARN MORE</a>
        <div class="image-crop hero">
            <img src="images/black-ipad.png" width="480"
                 sizes="(max-width: 767px) 92vw, 480px" alt=""
                 srcset="images/black-ipad-p-500x650.png 500w, images/black-ipad-p-800x1039.png 800w, images/black-ipad-p-1080x1403.png 1080w, images/black-ipad.png 1938w" />
        </div>
    </div>
</div>
    <div class="section press">
        <div class="w-container">
            <div class="press-image-wrapper title">
                <div class="press-title">In the press</div>
            </div>
            <div class="press-image-wrapper"><img src="images/logo_forbes.svg" alt="" class="press-logo" /></div>
            <div class="press-image-wrapper"><img src="images/logo_fastcompany.svg" alt="" class="press-logo" /></div>
            <div class="press-image-wrapper"><img src="images/logo_wired.svg" alt="" class="press-logo" /></div>
            <div class="press-image-wrapper"><img src="images/logo_zdnet.svg" alt="" class="press-logo" /></div>
            <div class="press-image-wrapper">
                <a href="#" class="w-inline-block">
                    <img src="images/logo_techcrunch.svg"
                         alt="" class="press-logo" />
                </a>
            </div>
        </div>
    </div>
    <div id="learn-more" class="section darkgrey">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-8">
                    <h2>Time Tracking... everywhere</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p><a asp-controller="SignUp" asp-action="Index" class="button">Get started now ❯</a>
                </div>
                <div class="center w-col w-col-4">
                    <img src="images/all-devices.png"
                         sizes="(max-width: 479px) 64vw, (max-width: 767px) 46vw, (max-width: 991px) 229.328125px, 299.9921875px"
                         srcset="images/all-devices-p-500x288.png 500w, images/all-devices.png 1131w" alt=""
                         class="all-devices-image" />
                </div>
            </div>
        </div>
    </div>
    <div class="section darkestgrey">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-7">
                    <div class="image-crop">
                        <img src="images/black-ipad.png" width="490"
                             sizes="(max-width: 479px) 92vw, (max-width: 767px) 88vw, (max-width: 991px) 416.328125px, 490px"
                             alt=""
                             srcset="images/black-ipad-p-500x650.png 500w, images/black-ipad-p-800x1039.png 800w, images/black-ipad-p-1080x1403.png 1080w, images/black-ipad.png 1938w"
                             class="ipad-image" />
                    </div>
                </div>
                <div class="w-col w-col-5">
                    <h2>Easy to use</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p>
                    <ul role="list" class="feature-list w-list-unstyled">
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_55.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Record your work.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis.</div>
                        </li>
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_51.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Play it back.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis, diam.</div>
                        </li>
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_53.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Pause at any moment.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section darkgrey">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-5">
                    <h2>you can take it anywhere</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare.
                    </p>
                    <ul role="list" class="feature-list w-list-unstyled">
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_25.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Track your time on your phone.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis.</div>
                        </li>
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_03.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Create and edit all your projects.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis, diam.</div>
                        </li>
                        <li class="feature-item w-clearfix">
                            <div class="feature-icon-wrapper">
                                <img src="images/icon_08.png" width="30" alt=""
                                     class="feature-icon" />
                            </div>
                            <div class="feature-text title">Send it and get paid.</div>
                            <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis.</div>
                        </li>
                    </ul>
                </div>
                <div class="image-column w-col w-col-7">
                    <div class="image-crop iphone">
                        <img src="images/iphone-flat2x.png" width="281" alt=""
                             class="iphone-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section black">
        <div class="w-container">
            <div class="title">
                <h2>Our Pricing is simple</h2>
                <p>No commitments. No credit cards required. Start your 14-day trial today!</p>
            </div>
            <div class="pricing-row w-row">
                <div class="w-col w-col-4">
                    <div class="pricing-column">
                        <h3 class="plan-title">solo</h3>
                        <div class="price">$10</div>
                        <div class="per-month">PER MONTH</div>
                        <div class="price-feature-list">
                            <div class="price-feature">1 Project</div>
                            <div class="price-feature">100 Hours of Tracked Time</div>
                            <div class="price-feature deactivate">No Team Collaborators</div>
                            <div class="price-feature">Email Support</div>
                    </div><a asp-controller="SignUp" asp-action="Index" class="get-started-link pricing">Get Started now   ❯</a>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="pricing-column">
                        <h3 class="plan-title pro">pro</h3>
                        <div class="price">$20</div>
                        <div class="per-month">PER MONTH</div>
                        <div class="price-feature-list">
                            <div class="price-feature">10 Projects</div>
                            <div class="price-feature">Unlimited Hours</div>
                            <div class="price-feature deactivate">No Team Collaborators</div>
                            <div class="price-feature">Email Support</div>
                    </div><a asp-controller="SignUp" asp-action="Index" class="get-started-link pricing">Get Started now   ❯</a>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="pricing-column">
                        <h3 class="plan-title">team</h3>
                        <div class="price">$30</div>
                        <div class="per-month">PER MONTH</div>
                        <div class="price-feature-list">
                            <div class="price-feature">Unlimited Projects</div>
                            <div class="price-feature">Unlimited Hours</div>
                            <div class="price-feature">5 Team Collaborators</div>
                            <div class="price-feature">Priority Email Support</div>
                    </div><a asp-controller="SignUp" asp-action="Index" class="get-started-link pricing">Get Started now   ❯</a>
                    </div>
                </div>
            </div>
            <p class="support">Need Help? Reach us at contact@terminal.com</p>
        </div>
    </div>
    <div class="no-pad-section">
        <div class="w-row">
            <div class="padded-column picture w-col w-col-6"></div>
            <div class="padded-column w-col w-col-6">
                <div class="width-limiter">
                    <h2>24/7 Email Support</h2>
                    <p>
                        Our support is pretty cool. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                        varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
                        interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id
                        rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                    </p><a href="/contact"
                           class="get-started-link simple">get support now</a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/webflow-script.js" type="text/javascript"></script>
